@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

*{
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  margin-top: 0;
}

.container{
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width : 576px) and (max-width : 767px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width : 768px) and (max-width : 991px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width : 992px) and (max-width : 1199px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width : 1200px) {
  .container{
    max-width: 1180px;
  }
}