.todosHead{
    padding: 40px 0;
}

.todosHead_head{
    border: 1px solid #707070;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    background-color: #f08440;
}

.todosHead_todos{
    border: 1px solid #707070;
    background-color: #fff;

    text-align: left;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 100%;
}

.todosHead_todos_secTitle{
    color: #f08440;
    padding: 10px 15px;
    margin-bottom: 0;
}

.options{
    border: 1px solid #707070;
    background-color: #fff;
}