.Section{
    width: 100%;
    padding: 60px 0;
    background-color:  #f4f4f4;
    color: #707070;
    margin: 0 !important;
}

.Section_title{
    text-align: center;
    color: #f08440;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}